.topBorder{
    border-bottom: 1px dashed @silver;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: @shark;
    padding-top: 4rem;
    padding-bottom: 4rem;
    align-items: baseline;
}

.navButtons {
    display: inline-block;
    .button{  
        #navButton();
    }
}

